* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.nav h2 {
    border: 1px solid gray;
    padding: 10px 20px;
}




/* Hero ba header part */

.hero {
    background-image: url(/assets/Hero-bg.png);
    text-align: center;
    margin-top: 50px;
    padding: 70px;
}

.hero h1 {
    font-size: 70px;
}

.hero p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 40px;
}

.hero button {
    background-color: black;
    padding: 20px 30px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 20px;
}




/* Landing Page with learning */

#learning {
    margin-top: 80px;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    margin-bottom: 100px;
}

.learn h1 {    
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 900;
}

.learn p {   
    text-align: center;
    color: gray;
    line-height: 25px;
}

.layer-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 20px;
    box-shadow: 0px 0px 0px white, -1px -0.30px 0px white;
    border-radius: 10px;
    padding: 45px;
}

.layer-1 h2 {
    font-size: 30px;
    color: #444242;
}

.layer-1 p {
    margin-top: 20px;
    color: gray;
}

.layer-1 button {
    padding: 10px 25px;
    font-size: 20px;
    margin-top: 20px;
    border:2px solid black;
}




/* tutorial and inspiration  */

.inspiration {
    text-align: center;
}

.inspiration h1 {
    font-size: 35px;
    font-weight: 900;
}

.inspiration p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
    line-height: 25px;
}

.tutorial {
    border: 1px solid gray;
    padding: 40px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
}



/* Current target */
.current-target {
    margin-top: 80px;
    text-align: center;
}

.current-target h1{ 
    font-size: 35px;
    font-weight: 900;
}

.current-target p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
    line-height: 25px;
}

.current {
    display: flex;
    justify-content: space-around;
    margin-left: 110px;
    margin-right: 110px;
}
.current-learn1 {
    background-color: #f2eae8;
    width: 350px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.current-learn1 h1 {
    font-size: 25px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}

.current-learn1 p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
    line-height: 25px;
}

.current-learn1 a {
    color: black;
    font-weight: 800;
}
